In [1]:
import pandas as pd
import os

In [2]:
program_data = pd.read_csv("allStudentProgramsDataWith0Score.csv")

In [4]:
program_data = program_data.drop(program_data.columns[0], axis=1)

In [6]:
program_data.describe()

              Year  Earned Score  Maximum Score     Distance  Distance Z-score
count  1724.000000   1724.000000    1724.000000  1724.000000      1.724000e+03
mean   2013.064385      5.315545       7.075986    15.703628      5.581669e-17
std       0.245509      2.959226       2.215474    14.110376      1.000290e+00
min    2013.000000      0.000000       4.000000     1.396552     -1.427886e+00
25%    2013.000000      4.000000       5.000000     8.052632     -5.789000e-01
50%    2013.000000      5.000000       7.000000    12.730159     -2.769192e-01
75%    2013.000000      7.000000      10.000000    18.192857      2.429262e-01
max    2014.000000     13.000000      13.000000   158.000000      7.416390e+00

In [7]:
student_data = pd.read_csv("allStudentDataIncluding0Score.csv")

In [9]:
student_data.describe()

       Distance Z-score  Earned Score  Maximum Score  Overall Percent
count        160.000000     160.00000     160.000000       160.000000
mean           0.023818      57.27500      76.243750         0.743254
std            0.407138      40.33148      48.173265         0.206859
min           -0.740578       0.00000       4.000000         0.000000
25%           -0.230887      14.00000      14.000000         0.607585
50%           -0.026357      64.00000      91.000000         0.767927
75%            0.135781      84.25000     105.000000         0.904762
max            2.141159     182.00000     250.000000         1.000000

In [4]:
full_program_data = pd.read_csv("fullScoreProgramData.csv")

In [6]:
full_program_data.describe()

              Year  Earned Score  Maximum Score    Distance  Distance Z-score
count   931.000000    931.000000     931.000000  931.000000      9.310000e+02
mean   2013.087003      6.852846       6.852846   11.864120      7.506825e-17
std       0.281991      2.066850       2.066850   12.124801      1.000537e+00
min    2013.000000      4.000000       4.000000    0.120000     -1.559341e+00
25%    2013.000000      5.000000       5.000000    4.708333     -5.906303e-01
50%    2013.000000      7.000000       7.000000    9.422222     -2.727273e-01
75%    2013.000000      7.000000       7.000000   15.356061      2.905308e-01
max    2014.000000     13.000000      13.000000  102.545455      6.196034e+00

In [2]:
full_student_data = pd.read_csv("allStudentData.csv")

In [4]:
full_student_data.describe()

,Distance Z-score,Earned Score,Maximum Score,Overall Percent,Z-score of 100% Submissions
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,-0.004985,60.260000,79.073333,0.771292,0.012973
std,0.347076,39.778992,47.931592,0.171082,0.482952
min,-0.590678,4.000000,4.000000,0.333333,-0.977847
25%,-0.239632,15.000000,32.250000,0.661348,-0.272943
50%,-0.026357,66.000000,93.000000,0.777584,-0.022894
75%,0.106645,85.000000,105.000000,0.906795,0.200971
max,1.250276,182.000000,250.000000,1.000000,2.726351